html, body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(25, 25, 25);

    margin: 0;
}

canvas.gl {
    width: 100%;
    height: 100%;

    background-color: black;

    touch-action: none;
}

.debug-overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    inset: 0;

    pointer-events: none;
    touch-action: none;

    font-family: monospace;
    font-size: 1.5em;
    color: white;
}